# App Config
APP_NAME="Gaming Leaderboard"
APP_VERSION="0.0.1"
APP_URL="0.0.0.0"
APP_PORT="8000"

# Database Config
SCYLLA_NODES="node1,node2,node3"
SCYLLA_USERNAME="scylla"
SCYLLA_PASSWORD="your-password-here"
SCYLLA_CACHED_QUERIES="15"
SCYLLA_KEYSPACE="leaderboard"